.spendingCard{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-top:20px;
    color:white;
}
.spendingCard div{
    border:1px solid black;
    text-align:center;
    padding:40px;
    border-radius:20px;
    position:relative;
}
.spendingCard div::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoFFErqjuSfjbaGxLx2bbGcK-kywqT0g2c7wL6xjMgq_dYH_hXfq_BTBA&s=10');
    background-size:cover;
   
    background-position:center;
    opacity:1;
    filter:brightness(0.4);
    border-radius:22px;
    z-index:-1;
}
.spendingCard div h1, .spendingCard div p{
    z-index:1;
    
}
.spendingCard div h1{
    font-size:34px;
}
.spendingCard div p{
    font-size:22px;
    text-align:center;
}
